/*
 * Custom CSS
 */
body {
  background-color: var(--yask-super-light-gray);
}

h1 {
  color: var(--yask-blue);
  font-weight: bold;
}


.form-label {
  font-weight: bold;
}

.container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mobilePadding {
  padding-bottom: 30px;
}

/* Custom styles for the tooltip */
.tooltip-inner {
  max-width: none; /* Allows the tooltip to be larger than the default max-width */
  padding: 4; /* Removes default padding */
  background-color: var(--yask-super-light-gray); 
  border: 2px solid var(--yask-blue);
  opacity: 1;
}
.tooltip.right .tooltip-arrow {
  color: var(--yask-blue); 
  border-bottom-color: var(--yask-blue)!important;
  border-top-color: var(--yask-blue)!important;
  border-right-color: var(--yask-blue)!important;
  border-left-color: var(--yask-blue)!important;
}
.tooltip-inner img {
  display: block;
  max-width: 100%; /* Ensures the image fits within the tooltip */
}

.tooltip.show {
  opacity: 1;
}

.well {
  margin-bottom: 0px;
}

.accordion-button:not(.collapsed) {
  color: white; /* Text color */
  background-color: var(--yask-blue); /* Background color */
  box-shadow: none;
}

.accordion-button {
  border-color:var(--yask-blue);
  border-width: "2 px";
}

.form-group {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}



/*Changes to be consistent with Yaskawa style.css*/
/*.form-select {
  padding-top: 0.6rem;
  padding-right: 1rem;
  padding-bottom: 0.6rem;
  padding-left: 1rem;
  border-width: 2px;
  color: #636669;
}
*/
.form-select {
  padding-top: 0.4rem;
  padding-right: 0.6rem;
  padding-bottom: 0.3rem;
  padding-left: 0.6rem;
  border-width: 2px;
  color: #636669;
}


.form-control {
  padding-top: 0.4rem;
  padding-right: 0.6rem;
  padding-bottom: 0.3rem;
  padding-left: 0.6rem;
}

.form-select option {
  color: #636669; 
}

.body-font {
  font-size: 1.07rem;
  line-height: 1.82;
  margin-bottom: 1rem;
}

#driveSelect{
  border:var(--bs-border-width) solid #ebedf2;
  border-radius: var(--bs-border-radius);
  line-height: 1.5;
  color: var(--bs-body-color);
  border-width: 2px;
}

#mainDIV{
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-size: 1.25rem;
}

.navbar-toggler{
  width: 4rem;
  height: 3rem;
  background-color: var(--yask-blue);
  border:none;
  margin-right: 1rem;
}
.navbar-toggle{
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}

.form-check-inline {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 0; 
}

@media (max-width: 576px) {
  .form-check-inline {
      display: inline-block;
      margin-right: 0;
  }
}

.form-check-label{
  color: var(--yask-dark-gray) !important;
}